html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,a,abbr,address,big,em,img,q,small,strike,strong,
sub,sup,tt,var,i,dl,dt,dd,ol,ul,li,form,fieldset,label,table,caption,tbody,thead,tfoot,tr,th,td,article,
aside,canvas,details,figure,figcaption,header,footer,hgroup,menu,nav,output,section,time,mark,audio,
video,input,select,button{margin:0;padding:0;border:0;}
html{font-family:Microsoft YaHei,Arial;-webkit-tap-highlight-color: transparent;-webkit-font-smoothing: antialiased;}
body{font-size:16px;}
/*去除默认样式*/
ul,ol,li{list-style:none;}
/*表格边框合并，边框距零*/
table{border-collapse:collapse;border-spacing:0;}
/*继承父元素的字体系列样式*/
input,select,textarea,button{font-family:inherit;}
/*清除浮动*/
.fl{float:left;}
.fr{float:right;}
.cf{zoom:1;}
.cf:after{content:"";display:table;clear:both;overflow:hidden;}
/*a链接*/
a{text-decoration:none;color:#000;}
a:hover{text-decoration:none;}
/*去除点击高亮效果*/
a,button,input,select,img,label{outline:medium none;}
input::-moz-focus-inner{border:none;padding:0;}
select, input{vertical-align:middle;}
/*去掉苹果的默认UI来渲染按钮*/
input[type="submit"],input[type="reset"],input[type="button"],button,select{-webkit-appearance:none;}
/*placeholder文本颜色*/
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{
color:#ccc;
}
input:-moz-placeholder,textarea:-moz-placeholder{
color:#ccc;
}
/*html5标签*/
header,footer,section,article,aside,nav,figure{display:block;}
/*长英文字母 数字 换行*/
p{word-break:break-all;word-wrap:break-word;}
/*去除默认样式*/
h1,h2,h3,h4,h5,h6,strong,i,em,address, caption, cite, code, dfn, th, var{font-weight:normal;font-style:normal;}
fieldset, img{border:none;}
/*去除长按a链接弹框*/
html,body{-webkit-touch-callout:none;}
/* 设置为10是方便用rem单位计算 设计稿一般都是640px*/

/* -webkit-overflow-scrolling: touch; ios*/
@media screen and (max-width: 319px) {
    html {
        /*font-size: 85.33333px;*/
        font-size: 48.4375px;
    }
}
@media screen and (min-width: 320px) and (max-width: 359px) {
    html {
        /* font-size: 85.33333px; */
        font-size: 50px;
    }
}
@media screen and (min-width: 360px) and (max-width: 374px) {
    html {
        font-size: 56.25px;
    }
}
@media screen and (min-width: 375px) and (max-width: 383px) {
    html {
        font-size: 58.59375px;
    }
}
@media screen and (min-width: 384px) and (max-width: 399px) {
    html {
        font-size: 60px;
    }
}
@media screen and (min-width: 400px) and (max-width: 413px) {
    html {
        font-size: 62.5px;
    }
}
@media screen and (min-width: 414px) {
    html {
        font-size: 64.6875px;
    }
}
@media screen and (min-width: 600px) {
    html {
        font-size: 93.75px;
    }
}
@media screen and (min-width: 640px) {
    html {
        font-size: 100px;
    }
}
@media screen and (min-width: 700px) {
    html {
        font-size: 109.375px;
    }
}